In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

from sklearn.datasets import fetch_california_housing
data=fetch_california_housing()
df=pd.DataFrame(data.data,columns=data.feature_names)

In [5]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [7]:
df['Price']=data.target

In [8]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [9]:
df=df.sample(frac=0.20)

In [10]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [11]:
X

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
3248,2.0221,33.0,5.646288,1.187773,694.0,3.030568,36.19,-119.82
8846,15.0001,27.0,7.651923,0.980769,1351.0,2.598077,34.10,-118.40
8608,3.5048,13.0,4.188761,1.046110,1573.0,2.266571,33.87,-118.37
6793,2.7483,28.0,4.106509,1.111440,2934.0,2.893491,34.09,-118.14
1473,3.2500,45.0,4.800595,1.005952,865.0,2.574405,37.97,-122.03
...,...,...,...,...,...,...,...,...
10636,4.4286,6.0,4.203166,0.978892,832.0,2.195251,33.70,-117.79
6919,10.8034,18.0,8.460581,1.004149,1490.0,3.091286,33.97,-117.99
17086,3.0472,26.0,3.575453,1.116700,1966.0,3.955734,37.47,-122.21
7428,2.2950,32.0,3.695364,1.086093,1265.0,4.188742,33.95,-118.21
17297,4.8060,20.0,5.867974,1.045752,2867.0,3.747712,34.41,-119.52

In [12]:
y

3248     0.52200
8846     5.00001
8608     2.94000
6793     2.18800
1473     1.51100
          ...
10636    2.39500
6919     5.00001
17086    2.11000
7428     1.55200
17297    2.79700
Name: Price, Length: 4128, dtype: float64

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test,=train_test_split(X,y,test_size=0.20,random_state=1)
X_train

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
3149,3.6949,4.0,5.733651,1.128747,4631.0,3.154632,35.14,-118.48
11361,4.3882,24.0,5.082139,1.015282,4011.0,3.830946,33.74,-117.92
17355,5.0113,22.0,6.935484,1.024194,1149.0,3.088710,34.88,-120.43
8001,3.5500,36.0,4.654321,0.965432,1049.0,2.590123,33.85,-118.13
19538,2.6964,14.0,4.718693,1.015426,3221.0,2.922868,37.65,-120.95
...,...,...,...,...,...,...,...,...
17598,4.2414,52.0,5.689560,0.994505,825.0,2.266484,37.30,-121.89
9813,3.1543,29.0,4.933950,1.067371,1873.0,2.474240,36.61,-121.92
18337,4.9861,52.0,6.167401,0.955947,522.0,2.299559,37.44,-122.15
513,8.1872,52.0,8.268293,1.032520,1005.0,2.723577,37.82,-122.23
13093,4.5815,21.0,6.165909,0.981818,1287.0,2.925000,38.55,-121.37

In [41]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()